<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <div class="row ">
                <form class="form-horizontal">
                    <table class="table table-hover table-striped table-border">
                        <tr>
                            <th><span>Username</span></th>
                            <th><span>Password</span></th>
                            <th><span>Role</span></th>
                            <th><span>Action</span></th>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Username"></td>
                            <td><input type="text" placeholder="Password"></td>
                            <td><input type="text" placeholder="Role1, Role2"></td>
                            <td><span class="glyphicon glyphicon-plus right-spacing"></span><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><span>Alice</span></td>
                            <td><span></span></td>
                            <td><span>Student</span></td>
                            <td><span class="glyphicon glyphicon-plus right-spacing"></span><span class="glyphicon glyphicon-pencil"></span></td>
                        </tr>
                        <tr>
                            <td><span>Bob</span></td>
                            <td><span></span></td>
                            <td><span>Teacher | Admin</span></td>
                            <td><span class="glyphicon glyphicon-plus right-spacing"></span><span class="glyphicon glyphicon-pencil"></span></td>
                        </tr>
                        <tr>
                            <td><span>Charlie</span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span class="glyphicon glyphicon-plus right-spacing"></span><span class="glyphicon glyphicon-pencil"></span></td>
                        </tr>

                    </table>
                </form>
            </div>

        </div>
    </div>
</div>