<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Form Maker</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/register">Register</a></li>
                    <li ng-if="!loggedIn"><a href="#/login">Login</a></li>
                    <li ng-if="loggedIn"> <a href="#/home" ng-click="logout()">Logout</a></li>
                    <li ng-if="loggedIn"><a href="#/profile">{{user.username ? user.username : currentUser.username}}</a></li>
                    <li ng-if="isAdmin"><a href="#/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>