.full_width {
    width:100%;
}
table .glyphicon{
    font-size:150%;
}
.right-spacing {
    margin-right: 12px;
}
.lower {
    margin-top: 15px;
}
.text-left {
    text-align: left;
}
.high-width {
    width:70%;
}
.inline {
    display: inline;
}
.border-top {
    border-top: 1px solid black;
}
.glyphicon{
    cursor: pointer;
}
.clickable {
    cursor:pointer;
}

.header .glyphicon{
    margin-top : 5px;
    margin-left:10px;
}