<div class="container-fluid" ng-controller="RegisterController" ng-if="loggedIn">
    <div class="row">
        <div class="col-md-10 main">
            <h1>Welcome {{currentUser.firstName}} {{currentUser.lastName}},</h1><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 main">
            <h2>Tests Taken</h2><br>
            <span class="stat_span"> {{stats.gamesPlayed}} </span>
        </div>
        <div class="col-md-4 main">
            <h2>Average Score</h2><br>
            <span class="stat_span">{{stats.averageString}} %</span>
        </div>
        <div class="col-md-4 main">
            <h2>Last Played Date</h2><br>
            <span class="stat_span">{{stats.lastPlayed}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 main">
            <h2>Your Quizzes</h2><br>
            <table class="list_quizzes">
                <tr ng-repeat="quiz in userQuizzes">
                    <td ng-click="takeQuiz(quiz)">
                        <span class="glyphicon glyphicon-pencil pull-right" ng-click="editQuiz(quiz)"></span>
                        <span>{{quiz.title}}</span><br>
                        <span class="quiz_description">{{quiz.description}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 main">
            <h2>Prior Quizzes</h2><br>
            <table class="list_quizzes">
                <tr ng-repeat="quiz in priorQuizzes" >
                    <td ng-click="takeQuiz(quiz)">
                        <span>{{quiz.title}}</span><br>
                        <span class="quiz_description">{{quiz.description}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>