<div class="container-fluid" ng-controller="RegisterController">
    <div class="row">
        <div class="col-sm-offset-1 col-md-6 main">
            <h1 class="page-header">Don't Have an Account?</h1>
            <div class="row ">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="input_username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input ng-model= "nuser.username" type="text"
                                   class="form-control" id="input_username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input ng-model= "nuser.password" type="password"
                                   class="form-control" id="input_password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verify_input_password" class="col-sm-2 control-label">Verify Password</label>
                        <div class="col-sm-10">
                            <input ng-model= "nuser.retype"
                                   type="password" class="form-control" id="verify_input_password"
                                   placeholder="Retype Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_first_name" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input ng-model= "nuser.firstName"
                                    class="form-control" id="input_first_name"
                                   placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_last_name" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input ng-model= "nuser.lastName"
                                    class="form-control" id="input_last_name"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input ng-model="nuser.email"
                                   type="email" class="form-control" id="input_email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_password" class="col-sm-2 control-label">Admin Privileges</label>
                        <div class="col-sm-10">
                            <input type="checkbox" ng-model="nuser.admin" value="true" checked/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="register(nuser)"
                                    class="btn btn-default full_width">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5 main">
            <h1 class="page-header">Login Here</h1>
            <div class="row ">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="login_username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input ng-model="user.username"
                                   type="text" class="form-control" id="login_username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" ng-model="user.password"
                                   class="form-control" id="login_password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="login_button" ng-click="login(user)"
                                    type="submit" class="btn btn-default full_width">Login</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>